/* bio-section */
.bio-section {
    display: flex;
    /*background: #F7F7F7;
    background: #F2C745;*/
    background: #fff;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 10rem;
    @include respond(lg) {
        /*display: block;
        position: fixed;*/
        left: 0px;
        top: 60px;
        height: auto;
        width: 35rem;
        bottom: 60px;
        flex-direction: column;
    }
    &__title {
        display: flex;
        align-items: center;
        @include respond(lg) {
            flex-direction: column;
            align-items: start;
            padding: 0 20px 30px;
        }
        img {
            display: none;
            @include respond(lg) {
                display: block;
                width: 50%;
            }
        }
        h1 {
            font-size: 4rem;
            font-weight: 300;
            line-height: 5rem;
            @include respond(lg) {
                margin-top: 2rem;
                font-size: 8rem;
                line-height: 8.5rem;
            }
        }
        h2 {
            color: #9e0059;
            font-weight: 500;
            font-family: Raleway,sans-serif;
            @include respond(lg) {
                font-size: 2.5rem;
                line-height: 4.5rem;
            }
        }
    }
    &__mob-subtitle {
        display: block;
        font-size: 4rem;
        font-weight: 300;
        line-height: 5rem;
        @include respond(lg) {
            display: none;
        }
    }
    &__close-button {
        /*transform: translateY(22px);
        opacity: 0;*/
        cursor: pointer;
        /*transition: opacity 0.75s ease-in;*/
        display: none;
        &--show {
            display: block;
            @include respond(lg) {
                display: none;
            }
        }
        
    }
    &__info {
        height: 0;
        font-size: 0;
        opacity: 0;
        display: none;
        @include respond(lg) {
            padding: 0 20px 30px;
            display: block;
            height: auto;
            font-size: initial;
            opacity: 1;
            display: block;
        }
    }
    &__contacts {
        padding: 20px;
        display: flex;
        align-items: center;
        @include respond(lg) {
            flex-direction: row;
        }
    }
    /* when projects expanded */
    &--narrow {
        @include respond(lg) {
            width: 15%;
            .bio-section__title {
                font-size: 3rem;
            }
            .bio-section__info {
                font-size: 0;
                opacity: 0;
            }
        }
    }
    /* when projects expanded */
}
/* bio-section ends */

