/* bio-section */
.bio-section {
    display: flex;
    background: $white;
    z-index: 5;
    width: 100%;
    height: auto;
    position: relative;
    @include respond(lg) {
        position: fixed;
        left: 0px;
        top: 6%;
        bottom: 6%;
        height: auto;
        width: 35rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__content {
        padding: 0 0 0 1.5rem;
        position: relative;
        /*height: 13rem;*/
        @include respond(lg) {
            height: auto;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 11rem;
        padding-top: 2rem;
        @include respond(lg) {
            height: auto;
            padding: 0 0px 30px;
        }
        img {
            display: none;
            @include respond(lg) {
                display: block;
                width: 50%;
            }
        }
        h1 {
            font-size: 4rem;
            font-weight: 300;
            line-height: 3rem;
            @include respond(lg) {
                margin-top: 2rem;
                font-size: 8rem;
                line-height: 8.5rem;
            }
        }
        h2 {
            font-size: 2rem;
            line-height: 4rem;
            color: #9e0059;
            font-weight: 500;
            font-family: Raleway, sans-serif;
            @include respond(lg) {
                font-size: 2.5rem;
                line-height: 4.5rem;
            }
        }
    }
    /*&__mob-subtitle {
        display: block;
        font-size: 4rem;
        font-weight: 300;
        line-height: 5rem;
        @include respond(lg) {
            display: none;
        }
    }*/
    &__close-button {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 10rem;
        right: -4rem;
        transform: rotate(0deg);
        transition: opacity 0.25s linear, transform 0.25s linear;
        img {
            width: 3rem;
            height: 3rem;
        }
        &--show {
            opacity: 1;
            transform: rotate(45deg);
            @include respond(lg) {
                display: none;
            }
        }
        
    }
    &__contacts {
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond(lg) {
            flex-direction: row;
        }
        h3 {
            font-size: 2rem;
        }
    }
    /* when projects expanded */
    /*&--narrow {
        @include respond(lg) {
            width: 15%;
            .bio-section__title {
                font-size: 3rem;
            }
            .bio-section__info {
                font-size: 0;
                opacity: 0;
            }
        }
    }*/
    /* when projects expanded */
}
.bio-info {
    position: relative;
    top: -0.5rem;
    overflow-y: hidden;
    @include respond(lg) {
        padding: 0 0px 30px;
        display: block;
        height: auto;
        font-size: initial;
        opacity: 1;
        display: block;
        top: 0;
        overflow-y: auto;
    }
    &__button {
        display: block;
        width: 4rem;
        @include respond(lg) {
            display: none;
        }
    }
    &__content {
        height: 0px;
        padding-top: 1rem;
        transition: height 0.5s;
        &--show {
            height: 120px;
        }
        @include respond(lg) {
            height: auto;
        }
    }
}
/* bio-section ends */

