header {
    /*position: fixed;*/
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 2rem;
    position: relative;
    z-index: 3;
    @include respond(lg) {
        display: flex;
        height: 15rem; 
    }
    .projects-title {
        display: none;
        @include respond(lg) {
            display: block; 
        }
    }
}
