@keyframes openCol { 
    0% { 
        flex: 1 0 75px;
    }
    100% { 
        flex: 0 0 0px;
        /*flex: 1 0 0px;*/
    } 
}
@keyframes closeCol { 
    0% { 
        flex: 0 0 0px;
        /*flex: 1 0 0px;*/
    }
    100% { 
        flex: 1 0 75px;
    } 
}
@keyframes openBg { 
    0% { 
        height: 100%;
        opacity: 1;
        
    }
    100% { 
        height: 0%;
        opacity: 0;
        
    } 
}
@keyframes closeBg { 
    0% { 
        height: 0%;
        opacity: 0;
        
    }
    100% { 
        height: 100%;
        opacity: 1;
        
    } 
}
@keyframes openBgCol { 
    0% { 
       height: 100%;
       opacity: 1;
       
    }
    100% { 
        height: 0;
        opacity: 1;
        
    } 
}
@keyframes closeBgCol { 
    0% { 
        height: 0;
        opacity: 1;
        
    }
    100% { 
        height: 100%;
        opacity: 0.8;
        
    } 
}
@keyframes openContent { 
    0% { 
        opacity: 0;
        top: 85vh; 
    }
    100% { 
        opacity: 1;
        top: 5px;
    } 
}
@keyframes closeContent { 
    0% { 
        opacity: 1;
        top: 5px;
    }
    100% { 
        opacity: 0;
        top: 85vh; 
    } 
}

/* projects-section - found in index */
/* header and project-columns - parent */
.projects-section {
    width: 100%;
    /*max-width: 1200px;*/
    position: relative;
    /*padding-top: 10rem;*/
    transform: translateY(0rem);
    
    z-index: 1;

    /*transition: transform 0.5s 0.8s ease-in;*/
    @include respond(lg) {
        transform: translateY(0rem);
        padding-top: 0;
        position: fixed;
        overflow: visible;
        width: calc(100% - 30rem);
        right: 0;
        height: 100%;
        top: 0;
        bottom: 0;
    }
    &__project-title--desk {
        text-align: right;
        display: none;
        transform: translateY(15px);
        &--show {
            display: block;
            h3 {display: none;}
            h4 {display: none;}
            /* p {display: block;} */
            @include respond(lg) {
                /* transform: scale(1);
                 display: block; */
                h3 {display: block;}
                h4 {display: block;}
            }
        }
        .projects-section__close-button {
            transform: translateY(22px);
            opacity: 0;
            cursor: pointer;
            transition: opacity 0.75s ease-in;
            &--show {
                opacity: 1;
                /*margin-top: 3rem;*/
            }
        }
    }
    

    /*mob title was here*/

    /*&--lrg {
        @include respond(lg) {
            width: 85%;
            margin-left: 15%;
        }
        .project-columns {
            padding: 1em;
        }
    }*/
}
.project-columns {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    transform: translateY(11rem);
    transition: transform 1s;
    @include respond(lg) {
        flex-direction: row;
        height: calc(100vh - 150px);
        width: 100%;
        transform: translateY(0);
    }
    &--open {
        /*position: fixed;
        height: 85vh;
        top: 11rem;
        top: 10rem;*/


        /* removed to try and fix the height issue when changing orientation
        on ipad */
        /*overflow-y: hidden;*/
        /* removed to try and fix the height issue when changing orientation
        on ipad ends */

        /*transform: translateY(11rem);*/
        /*height: 100vh;*/

        height: 100%;


        /*padding: 0;*/

        /*height: 85vh;
        padding-bottom: 2rem;*/
        background: #fff;
        /*transition: transform 3s;*/
        @include respond(lg) {
            transform: translateY(0rem);
            position: static;
            height: calc(100vh - 150px);
            top: auto;
            padding-bottom: 2rem;
        }
    }
}
.project-col .project-col__bg, .project-col .project-col__content,
.project-col .project-col__svg, .project-col .project-col__info-button {
    pointer-events: none;
}
.project-col {
    position: relative;
    margin: 1rem 1rem;
    min-width: 0;
    height: 10rem;
    cursor: pointer;

    /*overflow-y: hidden;*/
    

    /*transition: height 0.1s;*/
    @include respond(lg) {
        overflow-y: hidden;
        overflow-x: hidden;
        /* when using flex need to specify 0 for min width and height 
        otherwise the responsiveness is lost at an earlier screen width because of 
        the default min width and min height */
        flex: 1 0 75px;
        margin: 0 1rem;
        min-height: 0;
        height: auto;


        /*transition: flex-basis 0.5s 0.15s, flex-grow 0.5s 0.15s;
         for safari */
        transition: all 0.4s 0.15s;
        &:hover {
            /*transition: flex-basis 0.5s 0.15s, flex-grow 0.5s 0.15s;
             for safari */
            transition: all 0.4s 0.15s;
        }
    }
    &__project-title--mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 20px;
        left: 10px;
        color: #fff;
        z-index: 3;
        @include respond(lg) {
            display: none;
        }
        &--show {
            z-index: 4;
        }
    }
    &--regular {
        overflow-y: hidden;
    }
    &--expand {
        @include respond(lg) {
            flex: 2 0 260px;
           /* flex: 12 0 260px;*/
        }
    }
    &--open {
        /*******************************/
        /* added and removed in JS now */
        /*******************************/
        height: 100%;
        @include respond(lg) {
            flex: 17 0 260px;
            /*flex: 20 0 260px;*/
           /*height: 100vh; 
            overflow-y: auto;*/
            height: auto;
            /*do i need these?
            margin-left: 1rem;
            margin-right: 1rem;*/
            
        }
    }
    &--scroll {
        @include respond(lg) {
            overflow-y: auto;
        }
    }
    &--closed {
        margin: 0 1rem;
        height: 0;
        opacity: 0;
        /*transition: opacity 0.1s ease-in, margin 0.5s 0.5s, height 0.5s 0.5s;
        for safari */
        transition: all 0.4s 0.15s;

        @include respond(lg) {
            opacity: 1;
            height: auto;
            /*flex: 1 0 0px;*/
            flex: 1 0 10px;
            margin: 0;
        }
    }
    &__info-button {
        left: 30px;
        color: #fff;
    }
    &__bg-colour {
        height: 10rem;
        z-index: 4;
        width: 100%;
        position: absolute;
        opacity: 0; 
        /*&--one {background: #ff6237;}*/
        &--one {background: #4e3bcc;}
        &--two {background: #ad409f;}
        &--three {background: #290af2;}
        &--four {background: #b3c445;}
        &--five {background: #b50b9e;}

        /* new to fade in col */
        transition: opacity 0.75s ease-in;

        @include respond(lg) {
            opacity: 1; 
        }
        /*svg {
            opacity: 1;
            display: block;
            &.svg--hide {
                opacity: 0
            }
        }*/
        &--mob-show {
            opacity: 1; 
        }
        /*TRANSITION
        transition: height 0.75s 10.5s, opacity 0.75s 11.75s;*/

        
    
        @include respond(lg) {
            height: 100%;
            /*top: 0;
            bottom: 0;*/
        }
    }
    &__bg {
        width: 100%;
        height: 10rem;
        
        position: absolute;
        /*top: 0;*/
        left: 0;
        z-index: 3;
        opacity: 1;
        &--one {
            background: url(../img/pic_1.jpg);
            background-position: 50% 50%;
            background-size: cover;
        }
        &--two {
            background: url(../img/pic_2.jpg);
            background-position: 50% 50%;
            background-size: cover;
        }
        &--three {
            background: url(../img/pic_3.jpg);
            background-position: 50% 50%;
            background-size: cover;
        }
        &--four {
            background: url(../img/pic_4.jpg);
            background-position: 50% 50%;
            background-size: cover;
        }
        &--five {
            background: url(../img/pic_5.jpg);
            background-position: 50% 50%;
            background-size: cover;
        }
        
        /*TRANSITION*/
        /*transition: opacity 1s;
        transition-timing-function: linear;*/

        /*transition-timing-function: cubic-bezier(.66,.01,.72,.82);*/
        
        @include respond(lg) {
            height: 100%;
            /*top: 0;
            bottom: 0;*/
        }
    }
    &__content {
        /*height: 0;*/
        position: relative;
        z-index: 2;
        font-size: 0;
        
        opacity: 0;
        top: 85vh;

        /*TRANSITION*/
        /*transition: height 13.15s;
        transition-timing-function: linear;*/


        @include respond(lg) {


            /*TRANSITION*/
            /*transition: opacity 1s 1s, top 1.25s 0.5s;
            transition-timing-function: linear;*/
        }
    }
}
.project-col--expand .project-col__bg-colour {
    background: rgba(255, 98, 55, 0);
}
.project-col__svg, .project-col__info-button {
    display: none;
    @include respond(lg) {
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        margin: 7px;
    }
}
.project-col__svg--hidden, .project-col__info-button--hidden {
    opacity: 0;
}
/* projects-section ends */

/* open and closing styles */
/*animation: once col is chosen the remaining columns slide and shrink away*/

/*******************************
/*removing this means when closed a thin col is left*/
 /*.project-col--regular.project-col--closed {
   @include respond(lg) {
        animation-name: openCol; 
        animation-duration: 0.5s; 
        animation-fill-mode: forwards; 
        animation-timing-function: linear;
    }
}*/
/*removing this means when closed a thin col is left*/
/*******************************



/*.project-col--regular {
    @include respond(lg) {
        animation-name: closeCol; 
        animation-duration: 2.5s; 
        animation-fill-mode: forwards; 
        animation-timing-function: linear;
    }
}*/
.project-col--open .project-col__bg {
    /*opacity: 1;
    top: 0px;
   height: 100vh;*/
    @include respond(lg) {
        animation-name: openBg; 
        animation-duration: 0.5s; 
        animation-fill-mode: forwards; 
        animation-delay: 0.5s; 
        animation-timing-function: linear;
        
    }
}
.project-col--regular .project-col__bg {
    
    @include respond(lg) {
        animation-name: closeBg; 
        animation-duration: 0.6s; 
        animation-fill-mode: forwards; 
        animation-timing-function: linear;
        
    }
}
.project-col--open .project-col__bg-colour {
    
    @include respond(lg) {
        animation-name: openBgCol; 
        animation-duration: 0.5s; 
        animation-fill-mode: forwards; 
        animation-delay: 0.5s; 
        animation-timing-function: linear;
        
    }
}

.project-col--regular .project-col__bg-colour {
    @include respond(lg) {
        animation-name: closeBgCol; 
        animation-duration: 0.6s; 
        animation-fill-mode: forwards; 
        animation-timing-function: linear;
    }
}
.project-col--open .project-col__content {
    /*opacity: 1;
    top: 0px;
   height: 100vh;*/
    opacity: 1;
    /*top: 5vh;*/

    
   /* top: 10rem;
    padding-bottom: 10rem;
    transition: opacity 0.5s 0.35s ease-in, top 0.5s ease-in;*/
    padding-bottom: 2rem;
    padding-top: 9rem;
    /*top: 5vh;*/
    animation-name: openContent; 
    animation-duration: 0.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 0s; 
    animation-timing-function: linear;
    @include respond(lg) {
        padding-top: 0rem;
        /*animation-name: openContent; */
        animation-duration: 0.5s; 
        /*animation-fill-mode: forwards;*/
        animation-delay: 0.5s; 
        /*animation-timing-function: linear;*/
    }
}

.project-col--regular .project-col__content {
    
    @include respond(lg) {
        animation-name: closeContent; 
        animation-duration: 0.6s; 
        animation-fill-mode: forwards; 
        animation-timing-function: linear;
        
    }
}
.project-col--closed svg {
    display: none;
    &.openIcon {
        display: flex;
        width: 100%;
        margin: 5px 0;
    }
}
/* expand and open styles ends */

/* project content style */
.img-text-overlay {
    position: relative;
    img {
        width: 100%;
    }
    p {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: white;
    }
}
.title-and-bio {
    width: 70%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        flex: 1;
    }
}
.hide {
    display: none;
}
